@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$graphic:'Montserrat', sans-serif;

// colors
$color-primary: #2091F9;
$color-ocean: #252B42;
$color-white: #FFFFFF;